<ion-view title="Cricket">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <p>tournament_name: {{cricket.tournament_name}}</p>
        <p>status: {{cricket.status}}</p>
        <p>tournament_type: {{cricket.tournament_type}}</p>
        <p>date_start: {{cricket.date_start}}</p>
        <p>date_end: {{cricket.date_end}}</p>
        <p>total_teams: {{cricket.total_teams}}</p>
    </ion-content>
</ion-view>
